---
apiVersion: v1
kind: Secret
metadata:
  name: {{ galaxy.name }}-etc-ssh
  labels:
    {{ galaxy.labels | indent 4 | trim }}
data:
  ssh_host_rsa_key: |-
    {{ k8s_secrets.ssh_host_rsa_key | b64enc }}
